<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="id">ID</label><input id="id" name="id"><br>
        <label for="pw">PW</label><input id="pw" name="pw">
        <button type="submit" th:formaction="@{/user/{userId}/delete/(userId=${userId})}" formmethod="post">회원 탈퇴</button>
        <button type="submit" th:formaction="@{/{userId}/watch/new/(userId=${userId})}">시계 추가</button>


        <br>
        <div th:each="watch: ${watchList}">
        <div th:text="'Model code: '+${watch.model}"></div>
        <div th:text="'Case size: '+${watch.caseSize}"></div>
        <div th:text="'Movement: '+${watch.movement}"></div>
        <div th:text="'Lug to lug: '+${watch.lugToLug}"></div>
            <div th:text="'Glass: '+${watch.glass}"></div>
            <button type="submit" th:formaction="@{/{userId}watch/{watchId}/update/(userId=${userId}, watchId=${watch.id})}">수정</button>
            <button type="submit" th:formaction="@{/{userId}/watch/{watchId}/delete/(userId=${userId}, watchId=${watch.id})}" formmethod="post">삭제</button>
            <br>
        </div>
    </form>




</body>
</html>