<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="id">ID</label><input id="id" name="id"><br>
        <label for="pw">PW</label><input id="pw" name="pw">
        <button type="submit" >회원 탈퇴</button>
        <button type="submit" th:formaction="@{/{userId}/watch/new/(userId=${userId})}">시계 추가</button>


        <div th:each="watch: ${watchList}">
            <br>
            <div th:text="'Model code: '+${watch.model}"></div>
            <div th:text="'Case size: '+${watch.caseSize}"></div>
            <div th:text="'Movement: '+${watch.movement}"></div>
            <div th:text="'Lug to lug: '+${watch.lugToLug}"></div>
            <div th:text="'Glass: '+${watch.glass}"></div>
            <div><a>수정</a></div>
            <div><a>삭제</a></div>
            <br>
        </div>
    </form>


</body>
</html>